<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Twitter</th>
  </tr>
  </thead>
  <tbody>
  <tr (click)="openClient(1)">
    <td>Chad</td>
    <td>Michel</td>
    <td>@chadmichel</td>
  </tr>
  <tr (click)="openClient(2)">
    <td>Bill</td>
    <td>Udell</td>
    <td>@billudell</td>
  </tr>
  <tr (click)="openClient(3)">
    <td>Russ</td>
    <td>Guill</td>
    <td>@russwritesne</td>
  </tr>
  </tbody>
</table>
