<h1 id="tableLabel">Contact List</h1>

<p *ngIf="!contactList"><em>Loading...</em></p>

<table class="table table-striped" aria-labelledby="tableLabel" *ngIf="contactList">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contactList" (click)="openClient(contact.id)">
      <td>{{ contact.firstName }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.address1 }}</td>
      <td>{{ contact.address2 }}</td>
      <td>{{ contact.city }}</td>
      <td>{{ contact.state }}</td>
      <td>{{ contact.zip }}</td>
      <td>{{ contact.company }}</td>
    </tr>
  </tbody>
</table>
